<app-header></app-header>
<!--Das Hintergrundbild-->
<img class= "img-padding" src="assets/img/Kürbis-schmal.png" style="width: 100%; padding-top: 70px;">

<!--Eingabefled um den Namen des Rezeptes anzulegen-->
<div class="container" style = "margin-top: 5rem">
  <div style="font-size: 2rem;">
    <form style="width: 100%;">
      <label for="Zutat" style="width: 100%;">
        <input id="Zutat" name="Zutat" placeholder="Name des Rezeptes..." style="border: 1px solid gray; padding: 5px 10px; box-shadow: none; width: 100%">
      </label>
    </form>
  </div>
</div>

<!--Zutaten Überschrift-->
<div class="container">
  <div class="row">
    <div class=" col-4 col-sm-6 col-md-3" style="text-align: right;">Menge<hr width="100%"/></div>
    <div class="col-8 col-sm-6 col-md-9">Zutaten<hr width="100%" /></div>
  </div>
</div>

<!--Eingabefled um die Menge zu bestimmen-->
<div class="container">
  <div class="row">
    <div class=" col-4 col-md-3">
      <ul class="list-group list-group-flush" style = "font-size: 1rem; white-space: nowrap">
        <li class="list-group-item">
          <form style="width: 100%;">
            <label for="Menge">
              <input id="Menge" name="Menge" style="border: 1px solid gray; padding: 5px 10px; box-shadow: none; width: 100%" placeholder="2 TL">
            </label>
          </form>
        </li>
      </ul>
    </div>
    <!--Eingabefled um die Zutat zu bestimmen-->
    <div class="col-8 col-md-9">
      <ul class="list-group list-group-flush" style = "font-size: 1rem; white-space: nowrap;">
        <li class="list-group-item">
          <form style="width: 99%;">
            <label for="Zutat">
              <input id="Zutat" name="Zutat" style="border: 1px solid gray; padding: 5px 10px; box-shadow: none;" placeholder="Wasser">
            </label>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Button um eine neue Zeile (Zutat und Mänge) hinzuzufügen-->
<div class="container" style="padding-top: 3rem;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5"></div>
      <div class="col-12 col-sm-12 col-md-2">
        <input type="submit" value="neue Zutat">
      </div>
    <div class="col-12 col-sm-12 col-md-5"></div>
  </div>
</div>

<!--Überschrift der Zubereitung-->
<div class="container" style="padding-top: 3rem;">
  <div class="row">
    <div class="d-none d-sm-block col-sm-12 col-md-1"></div>
      <div class="col-12 col-sm-12 col-md-10">
        Zubereitung
        <hr width="100%"/>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>
<!--Fließtext um die Zubereitung zu hinterlegen-->
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-12 col-md-10">
      <form>
        <label for="zubereitung" style="width: 100%;">
          <textarea rows="25" placeholder="So wird das Rezept zubereitet..." style="border: 1px solid gray; padding: 5px 10px; box-shadow: none; width: 100%"></textarea>
        </label>
       </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!--Speichern Button-->
<button type = "action" name="action" (click)="recipeAdd()">
<div class="container" style="padding-top: 3rem;">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <input type="submit" value="Rezept anlegen">
      </div>
  </div>
</div>
</button>

<app-footer></app-footer>
