<nav class="navbar navbar-font-light bg-primary-gray mb-5 navbar-padding fixed-top">
  <a class="navbar-brand" href="/">
    <img src="assets/img/Kurzform-Logo-gold-Raute.png" width="60" height="60" class="d-inline-block align-top">
  </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Zu Rezepten</a>
      <a class="nav-item nav-link" href="#">Rezept anlegen</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
          <img src="assets/img/Logout-Icon.png" width="25" height="25" class="d-inline-block align-top logout-icon">Abmelden
      </a>
    </div>
  </div>
</nav>
