<!--Der begin der Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-gray fixed-top" style = "padding: 0rem 1rem">

  <!--Das Logo-->
  <a class="navbar-brand" href="#">
    <img src="assets/img/Kurzform-Logo-gold-Raute.png" width="60" height="60" class="d-inline-block align-top">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Die verschiedenen Seiten zu denen man gelangen soll-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;margin-left: 20px">Zu den Rezepten<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rezeptanlegen" style="color: white; margin-left: 20px">Rezept anlegen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kategorieverwalten" style="color: white;margin-left: 20px">Kategorien verwalten</a>
      </li>
    </ul>

    <!--Der abmelde button-->
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <button type="action" name="action" (click)="logout()" class="nav-item nav-link" href="user/login" style = "color: black;margin-left: 20px">
            Abmelden
        </button>
      </div>
    </div>
  </div>

</nav>

