<app-header></app-header>
<!--Das Hintergrundbild-->
<img class= "img-padding" src="assets/img/Kürbis-schmal.png" style="width: 100%; padding-top: 70px;">

<div *ngFor="let rezept of rezepte">

<!--Icons zum bearbeiten, teilen und löschen eines Rezeptes-->
<div class="container" style = "margin-top: 1rem;">
  <div class="row">
    <div class="col-12">
      <a href="#">
        <img src="assets/img/share-icon.svg" style="width: 2rem; margin-right: 1rem; float: right;">
      </a>
      <button type="action" name="action" (click)="recipeDelete()">
        <img src="assets/img/delete-icon.svg" style="width: 2rem; margin-right: 1rem; float: right;">
      </button>
      <a href="#">
        <img src="assets/img/create-icon.svg" style="width: 2rem; margin-right: 1rem; float: right;">
      </a>
    </div>
  </div>
</div>

<!--Überschrift der Rezeptes-->
<div class="container" style = "margin-top: 2rem">
    <div class="row">
  <div class= "col-12" style="height: 7rem; ;text-align: center; font-family: Amarillo; color: #A58242; font-size: 2rem;">
    {{rezept.label}}
  </div>
  </div>
</div>

<!--Überaschriften-->
<div class="container">
  <div class="row">
    <div class=" col-4 col-sm-6 col-md-2" style="text-align: right;">Menge<hr width="100%"/></div>
    <div class="col-8 col-sm-6 col-md-9">Zutaten<hr width="100%" /></div>
  </div>
</div>

<!--Mengenangeben-->
<div class="container">
  <div class="row">
    <div class=" col-4 col-sm-6 col-md-2">
      <ul class="list-group list-group-flush" style = "font-size: 1rem; white-space: nowrap; text-align: right;">
        <li class="list-group-item">500 KG</li>
        <li class="list-group-item">42 ml</li>
        <li class="list-group-item">1337 TL</li>
        <li class="list-group-item">2 L</li>
        <li class="list-group-item">222 Briesen</li>
        <li class="list-group-item">2 L</li>
      </ul>
    </div>
    <!--Zutaten-->
    <div class="col-8 col-sm-6 col-md-9">
      <ul class="list-group list-group-flush" style = "font-size: 1rem; white-space: nowrap;">
        <li class="list-group-item">Cras justo odioCras </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>

<!--Zubereitung Überschrift-->
<div class="container" style="padding-top: 3rem;">
  <div class="row">
    <div class="d-none d-sm-block col-sm-12 col-md-1"></div>
      <div class="col-12 col-sm-12 col-md-10">
        Zubereitung
        <hr width="100%"/>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>

<!--Fließtext zur Zubereitung-->
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <span>{{rezept.description}}</span>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<hr height="50px">
</div>
<app-footer></app-footer>
