<!--<div style="float: left; width: 55%; height: auto; width: auto;">
    <img class= "img-padding" src="assets/img/burger-login-klein.jpg" style="width: 75%;">
</div>
<div style="float: right; width: 40%; ">
    <img class= "img-padding" src="assets/img/burger-login.jpg" style="width: 100%; padding-top: 70px;">
</div>
-->

<div>
	<form>
	<label>email: 
		<input type="email" name="email">
	</label>
	</form>
</div>

<div id="Login">
	<svg class="burger_cheeseburger_close_up_1">
		<pattern elementId="burger_cheeseburger_close_up_1_A0_Rectangle_2" id="burger_cheeseburger_close_up_1_A0_Rectangle_2_pattern" x="0" y="0" width="100%" height="100%">
			<image x="0" y="0" width="100%" height="100%" href="assets/img/burger-login.jpg" xlink:href="assets/img/burger-login.jpg"></image>
		</pattern>
		<rect id="burger_cheeseburger_close_up_1" rx="0" ry="0" x="0" y="0" width="1620" height="2160">
		</rect>
	</svg>
	<svg class="Rechter_BG">
		<rect id="Rechter_BG" rx="0" ry="0" x="0" y="0" width="837" height="1080">
		</rect>
	</svg>
	<svg class="Rechteck_3">
		<rect id="Rechteck_3" rx="3" ry="3" x="0" y="0" width="530" height="53">
		</rect>
	</svg>

<form>
  <label>email: 
    <input type="email" name="email">
  </label>
</form>





	<svg class="Rechteck_2">
		<rect id="Rechteck_2" rx="3" ry="3" x="0" y="0" width="530" height="53">
		</rect>
	</svg>
	<div id="Melde_dich_f_r_dein_Pers_nlich">
		<span>Melde dich für dein Persönliche<br/>Rezepte Sammlung an </span>
	</div>
	<div id="Email_Adresse">
		<span>Email Adresse</span>
	</div>
	<div id="Passwort">
		<span>Passwort</span>
	</div>
	<div id="ODER">
		<span>ODER</span>
	</div>
	<svg class="Rechteck_4">
		<rect id="Rechteck_4" rx="3" ry="3" x="0" y="0" width="530" height="53">
		</rect>
	</svg>
	<svg class="Rechteck_5">
		<rect id="Rechteck_5" rx="3" ry="3" x="0" y="0" width="530" height="53">
		</rect>
	</svg>
	<div id="Anmelden">
		<span>Anmelden</span>
	</div>
	<div id="Neu_Registrieren">
		<span>Neu Registrieren</span>
	</div>
	<svg class="Linie_1">
		<path id="Linie_1" d="M 216 0 L 0 0">
		</path>
	</svg>
	<svg class="Linie_2">
		<path id="Linie_2" d="M 216 0 L 0 0">
		</path>
	</svg>
</div>
