<app-header></app-header>
<!--Das Hintergrundbild-->
<img class= "img-padding" src="assets/img/Kürbis-schmal.png" style="width: 100%; padding-top: 70px;">

<!--Kategorien in einem Dropdownmenü-->
<div class="container" style ="margin-top: 5rem">
  <div class="row">
    <div class=" col-12 col-md-2">
        <div class="dropdown">
          <button class="btn btn-light btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Eintopf
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li class="page-item"><a class="dropdown-item" href="#">Neue Kategorie</a></li>
            <div class="dropdown-divider"></div>
            <li class="page-item"><a class="dropdown-item" href="#">Eis</a></li>
            <li class="page-item"><a class="dropdown-item" href="#">Kuchen</a></li>
            <li class="page-item"><a class="dropdown-item" href="#">Mexikanisch</a></li>
            <li class="page-item"><a class="dropdown-item" href="#">Fisch</a></li>
            <div class="dropdown-divider"></div>
            <li class="page-item"><a class="dropdown-item" href="#">Mehr anzeigen</a></li>
          </div>
        </div>
    </div>
    <!--Alle Gerichte aus einer Kategorie-->
    <div class="col-12 col-md-10">
      <ul class="list-group list-group-flush" style = "font-size: 1.5rem">

        <li class="list-group-item">
          <a href="/rezeptdetailseite">Linsencurry mit Mango</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Vegane Linsensuppe</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Erbesneintopf</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Kartoffelsuppe</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Rote Linsen-Curry</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Bohneneintopfà la Mama</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Hack-Gemüse-Suppe</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Veganer Eintopf</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Bauerneintopf</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Steckrüben Eintopf</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Szegediner Gulasch</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Pikante Thai Suppe</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Tom Kha Gai</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Rindfleischsuppe</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Wirsingeintopf</a>
        </li>
        <li class="list-group-item">
          <a href="/rezeptdetailseite">Ratatouille</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>

