/*
Grid System damit die Border unterbrochen ist
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
}
*/

/*Dropdown Menü anfang
.place-right {
  float: right;
  padding-top: 5rem;
  padding-right: 5rem;
}

.btn-kategorie {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-kategorie:hover {
  color: rgb(32, 32, 32);
  background-color: #fff;
  border-color: #fff;
}

.btn-kategorie:focus, .btn-kategorie.focus {
  box-shadow: 0 0 0 0.2rem #fff;
}

.btn-kategorie.disabled, .btn-kategorie:disabled {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-kategorie:not(:disabled):not(.disabled):active, .btn-kategorie:not(:disabled):not(.disabled).active,
.show > .btn-kategorie.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}

.btn-kategorie:not(:disabled):not(.disabled):active:focus, .btn-kategorie:not(:disabled):not(.disabled).active:focus,
.show > .btn-kategorie.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #fff;
}

.dropdown-kategorie-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-kategorie-item:hover, .dropdown-kategorie-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #A58242;
}

.dropdown-kategorie-item.active, .dropdown-kategorie-item:active {
  color: #000;
  text-decoration: none;
  background-color: rgb(143, 112, 56);
}

.dropdown-kategorie-item.disabled, .dropdown-kategorie-item:disabled {
  color: #000;
  pointer-events: none;
  background-color: transparent;
}

/*Dropdown Menü ende*/

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden { visibility: hidden; }
