/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/*
.bg-primary-gray {
  background-color: #252525 !important
}

.bg-primary-gold {
  background-color: #A58242 !important
}

a, u {
  text-decoration: none;
}

.navbar-font-light, a {
  color: #e0e0e0
}

.navbar-font-light, a:hover {
  color: #ffffff !important
}

.primary-gray {
  color: #252525 !important
}

.primary-gold {
  color: #A58242 !important
}

.navbar-padding {
  padding: 0rem 15rem !important
}

.img-padding {
  padding: 70px 0px 0px 0px
}

.Body-padding {
  padding: 5rem 15rem !important
}



.border-bot {
  border-bottom: 2px solid #A58242;
}

.kategorie-ueberschrift {
  font-size: 5vw;
  font-family: Amarillo;
}

app-root {
  display: block;
  width: 100%;
}
*/
*[class*="col-"]
{
  position: inherit !important;
  width: inherit !important;
}
@media(max-width:480px){
  .col-xs-6
  {
    width: 50% !important;
  }
}

.img-center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-primary-gray {
  background-color: #252525 !important
}
