<app-header></app-header>
<!--Das Hintergrundbild-->
<img class= "img-padding" src="assets/img/Kürbis-schmal.png" style="width: 100%; padding-top: 70px;">

<!--Eine List aus allen Kategorien mit einem icon um sie zu löschen-->
<div class="container" style ="margin-top: 5rem">
  <div class="row">
    <div class="col-12 col-md-12">
      <ul class="list-group list-group-flush" style = "font-size: 1.5rem">
        <li class="list-group-item">Eintop
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Eis
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Kuchen
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Mexikanisch
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Fisch
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Geflügel
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Kartoffelgerichte
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Krustentiere
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Pasta & Nudeln
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Reisgerichte
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Wild
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Vegetarisch
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
        <li class="list-group-item">Vegan
          <a href="#">
            <img class= "img-padding" src="assets/img/delete-icon.svg" style="height: 2rem; float:right;">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
